html,
body {
    margin: 0;
}

.cust-main-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(63, 81, 180, 0), rgba(63, 81, 180, 0), rgba(63, 81, 180, 0), rgba(63, 81, 180, 0.3));
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.cust-side-nav {
    min-width: 200px;
}

.cust-width-160 {
    max-width: 160px;
    min-width: 160px;
}

.cust-width-200 {
    max-width: 200px;
    min-width: 200px;
}

.cust-btn-close {
    width: 8px;
    height: 8px;
    padding-top: 0px;
}

.nav-underline {
    background-color: rgba(0, 0, 0, 0.03);
}