html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

.cust-btn-close {
    width: 8px;
    height: 8px;
    padding-top: 0px;
}

.nav-underline {
    background-color: rgba(0, 0, 0, 0.03);
}
