.cust-btn-close {
    width: 8px;
    height: 8px;
    padding-top: 0px;
}

.nav-underline {
    background-color: rgba(0, 0, 0, 0.03);
}

.tab-content {
    height: 93vh;
    overflow: hidden;
    overflow-y: auto;
}